<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="common.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<style>



table {
  
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.five {
  width: 5%;
}

</style>
<title >Admin</title>
</head>
  <body >

    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="/add" >Add Item</a>
      <a href="/about">About</a>
      <a class="settings" href="/settings">&#9881;</a>
    </div> 
  
  <div id="container">
    
    <h1>Monitored Inventory</h1>

    <div id=table>
    {{template "table" .}}
  </div>
  {{if .Data }} 
  {{if .Enabled}}

    {{end}}
   
  
  {{if .Enabled}}
  <div class="info">
    {{.TimeInterval}} Second Refresh Interval
  </div>
  {{else}}
  <div class="info">
    Monitoring Disabled. Enable in settings.
  </div>
  {{end}}

  {{else}} 
  <p id="noneFoundMessage" style="text-align:center;color:red">No Items Found. Add some url's to settings.json or add a item in the nav bar</p>
  {{end}}

   
  </div>
  
  <img src="/favicon.ico">
  <div id="footer">Caleb McCarthy 2021.</div>
</body>

</html>


<script>

function ReplaceTable(){
  fetch(window.location.href+'/api/table')
    .then(response => response.text())
    .then(function (html){
      document.getElementById("table").innerHTML = html;
    })
   
 }
function UpdateTable(){
    ReplaceTable()
    setTimeout(UpdateTable, 2000);
  }
 
  
UpdateTable();

</script>